* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: flex;
  flex-direction: column;
}

h3{
  margin-bottom: 30px;
}

.top{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottomInside{
  display: flex;
  max-width: 30%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.middle{
  min-height: calc(100vh - 41.6px - 122.8px);
}

.foot{
  background-color: #001f3f;
  text-align: center;
  padding: 10px 0px;
  color: white;
  width: 100%;
}

@media screen and (max-width:800px) {
  .other{
    min-width: 120px;
  }
}